.vs/proiect-filme.slnx/v18/.wsuo
.vs/proiect-filme.slnx/v18/DocumentLayout.json
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/proiect-filme.slnx/FileContentIndex/01df4f00-7584-4f0d-b07f-69945f7fb920.vsidx
